<div id="sidebar" class="d-flex flex-column p-3 text-white bg-dark h-100" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Sidebar</span>
    </a>

    <hr>

    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#home">
                <i class="fas fa-home"></i>
                <span>Accueil</span>
            </a>
        </li>
        <li class="nav-item mt-2">
            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#profile">
                <i class="fas fa-user"></i>
                <span>Profile</span>
            </a>
        </li>
        <li class="nav-item mt-2">
            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#messages">
                <i class="fas fa-envelope"></i>
                <span>Messagerie</span>
            </a>
        </li>
        <li class="nav-item mt-2">
            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#settings">
                <i class="fas fa-th-large"></i>
                <span>Compte</span>
            </a>
        </li>
    </ul>

    <hr>
</div>
